<% if @cards.present? %>
  <table id ="tablework" class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Исходный текст</th>
        <th>Перевод</th>
        <th>Дата обзора</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %> 
          <%= link_to edit_card_path(card), class: "pull-right" do %>
            <span class="glyphicon glyphicon-pencil"></span>&nbsp
          <% end %>
          <%= link_to card_path(card), method: :delete,
            data: { confirm: "Вы уверены, что хотите удалить?" },
            class: "pull-right" do %>
            <span class="glyphicon glyphicon-trash"></span>&nbsp&nbsp&nbsp
          <% end %>
        </td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") if card.review_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>Ни одной карточки не добавлено.</h2>
<% end %>
