<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <% if @card %>
      <%= simple_form_for(@card, url: review_card_path(@card), method: "post",
        html: { class: 'form-vertical' }) do |f| %>
        <%= f.input :original_text, label: "Исходный текст", required: false,
        input_html: { readonly:"true" } %>
        <%= f.input :translated_text, label: "Перевод", required: false %>
        <%= f.input :id, as:"hidden" %>
        <%= f.button :submit, "Проверить" %>
      <% end %>
    <% else %>
      <h3 style="text-align:center;">Все карточки проверены</h3>
    <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>
