<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Флэшкарточкер</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "Все карточки", cards_path %></li>
        <li><%= link_to "Добавить карточку", new_card_path %></li>
        <li><%= link_to "Профиль", profile_path %></li>
        <li><%= link_to "Выйти", logout_path %></li>
      <% else %>
        <li><%= link_to "Зарегистрироваться", signup_path %></li>
        <li><%= link_to "Войти", login_path %></li>
      <% end %>
      </ul>
    </div>
    </nav>

    <section class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="margin:5px, 50px"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
</body>
</html>
